<footer class="p-4 rounded-lg shadow md:px-6 md:py-8">
  <div class="sm:flex sm:items-center sm:justify-between">
    <a href="https://cheats.dhr.wtf" class="flex items-center mb-4 sm:mb-0">

      <img src="/android-chrome-512x512.png" alt="Logo" class="w-8 h-8 mr-2">

      <span class="self-center text-2xl font-semibold whitespace-nowrap"
        ><span class="text-gradient">Cheatsheets</span> for developers</span
      >
    </a>
    <ul
      class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400"
    >
      <li>
        <a href="/" class="mr-4 hover:underline md:mr-6">Home</a>
      </li>
      <li>
        <a
          href="https://github.com/aryankashyap7/CheatSheets-for-Developers/"
          class="mr-4 hover:underline md:mr-6">Github</a
        >
      </li>
      <li>
        <a
          href="https://github.com/aryankashyap7/CheatSheets-for-Developers/blob/main/LICENSE"
          class="mr-4 hover:underline md:mr-6">Licensing</a
        >
      </li>
      <li>
        <a
          href="https://github.com/aryankashyap7/CheatSheets-for-Developers/blob/main/docs/CONTRIBUTING.md"
          class="hover:underline">Contribute</a
        >
      </li>
    </ul>
  </div>
  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
  <span class="block text-sm text-blue-400 sm:text-center dark:text-gray-400">
    <a href="https://github.com/aryankashyap7/CheatSheets-for-Developers/">
      Open source. Made with 💖 by
    </a>
    <a class="text-blue-400" href="https://github.com/aryankashyap7"
      >Aryan Kashyap</a
    >,
    <a class="text-blue-500" href="https://github.com/dhravya">Dhravya</a>,
    <a
      href="https://github.com/aryankashyap7/CheatSheets-for-Developers/graphs/contributors"
      class="text-yellow-500"
    >
      and contributors
    </a>
  </span>
</footer>
