---
import Card from "./Card.astro";
---

<nav class="h-8 px-2 md:px-32">
  <ul class="justify-start flex gap-4 mt-4">
    <a class="rounded-md shadow-md hover:border-2 px-4 text-xl" href="/">Cheatsheets</a>
  </ul>
</nav>
