---
interface Heading {
  slug: string;
  text: string;
  depth: number;
}

export interface Props {
  headings: Heading[];
}

const { headings } = Astro.props;
---

<ul class="mt-4 text-xs space-y-2">
  {
    headings.reduce((acc, heading) => {
      const { slug, text, depth } = heading;
      if (depth === 2) {
        acc.push({
          slug,
          text,
          children: [],
        });
      } else if (depth === 3) {
        acc[acc.length - 1].children.push({
          slug,
          text,
        });
      }
      return acc;
    }, []).map(({ slug, text, children }) => (
      <li class="ml-2">
        <a class="font-bold" href={`#${slug}`}>• {text}</a>
        {children.length > 0 && (
          <ul class="mt-2 ml-2 space-y-2">
            {children.map(({ slug, text }) => (
              <li>
                <a href={`#${slug}`}> ○ {text}</a>
              </li>
            ))}
          </ul>
        )}
      </li>
    ))
  }
</ul>
